# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Unity-Schnitzeljagd.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\larae\Unity\InterVisu\Unity-Schnitzeljagd\.idea\.idea.Unity-Schnitzeljagd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
